/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.btn.btn-secondary {
    box-shadow: inset 0 0 0 0 var(--bs-green);
}

.btn.btn-secondary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-green);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Sub Title Start ***/
.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -110px;
    border: 1px solid var(--bs-secondary) !important;
}

/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-success) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 576px) {
    .topbar {
        display: none;
    }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Yantramanav', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark) !important;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
    font-size: 18px !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-success) !important;
}

.navbar-light .navbar-brand img {
    max-height: 50px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-success);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-success);
        color: var(--bs-secondary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }
    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative;
}

.header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 60px;
    background: var(--bs-success);
    color: var(--bs-light);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 60px;
    background: var(--bs-success);
    color: var(--bs-light);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
    color: var(--bs-success) !important;
}

@media (max-width: 576px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        top: 630px;
        transition: 0.5s;
    }

    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: 95% !important;
    }

}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
    transition: 0.5s;

}

@media (max-width: 992px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        transition: 0.5s;
    }

}

@media (min-width: 992px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin-top: 50px;
    }
}

.header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;

}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
	position: relative;
	padding: 145px 0 50px 0;
    background: linear-gradient(rgba(242, 139, 0, 0.2), rgba(242, 139, 0, 0.3)), url(../img/breadcrumb.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@media (max-width: 992px) {
    .bg-breadcrumb {
        padding-top: 50px;
    }

}
/*** Single Page Hero Header End ***/


/*** Counter Facts Start ***/

.counter-facts {
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.7)), url(../img/delivrance.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}


.counter-facts .counter {
    position: relative;
    text-align: center;
    width: 200px;
    min-height: 215px;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    background: var(--bs-white);
}

.counter-facts .counter:before {
    content: "";
    position: absolute;
    height: 105px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--bs-primary);

}

@media screen and (max-width: 1200px) {
    .counter-facts .counter { margin-bottom: 40px;
    }
}
/*** Counter Facts End ***/


/*** Training Start ***/
.training-carousel .owl-stage-outer {
    margin-top: 30px;
}

.training-carousel .owl-nav .owl-prev,
.training-carousel .owl-nav .owl-next {
    position: absolute;
    top: 0;
    padding: 10px 35px;
    border: 1px solid var(--bs-secondary);
    color: var(--bs-white);
    background: var(--bs-secondary);
    border-radius: 50px;
    transition: 0.5s;
}

.training-carousel .owl-nav .owl-prev {
    left: 0 !important;
}

.training-carousel .owl-nav .owl-next {
    right: 0;
}

.training-carousel .owl-nav .owl-prev:hover,
.training-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.training .training-item .training-img {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.training .training-item .training-img img {
    transition: 0.5s;
}

.training .training-item:hover .training-img img {
    transform: scale(1.2);
}
/*** Training End ***/



/*** Dance Class Start ***/
.class-carousel .owl-stage-outer {
    margin-top: 30px;
}

.class-carousel .owl-nav .owl-prev,
.class-carousel .owl-nav .owl-next {
    position: absolute;
    top: 0;
    padding: 10px 35px;
    border: 1px solid var(--bs-secondary);
    color: var(--bs-white);
    background: var(--bs-secondary);
    border-radius: 50px;
    transition: 0.5s;
}

.class-carousel .owl-nav .owl-prev {
    left: 0 !important;
}

.class-carousel .owl-nav .owl-next {
    right: 0;
}

.class-carousel .owl-nav .owl-prev:hover,
.class-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.class .class-item .class-img {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.class .class-item .class-img img {
    transition: 0.5s;
}

.class .class-item:hover .class-img img {
    transform: scale(1.3);
}
/*** Dance Class End ***/


/*** Blog Start ***/
.blog-carousel .owl-stage-outer {
    margin-top: 30px;
}

.blog-carousel .owl-nav .owl-prev,
.blog-carousel .owl-nav .owl-next {
    position: absolute;
    top: 1px;
    padding: 10px 35px;
    border: 1px solid var(--bs-secondary);
    color: var(--bs-white);
    background: var(--bs-secondary);
    border-radius: 50px;
    transition: 0.5s;
}

.blog-carousel .owl-nav .owl-prev {
    left: 0 !important;
}

.blog-carousel .owl-nav .owl-next {
    right: 0;
}

.blog-carousel .owl-nav .owl-prev:hover,
.blog-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
    color: var(--bs-success) !important;
}

.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.3);
}
/*** Blog End ***/

/*** Team Start ***/
.team-carousel .owl-stage-outer {
    margin-top: 30px;
}
.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: absolute;
    top: 1px;
    padding: 10px 35px;
    border: 1px solid var(--bs-secondary);
    color: var(--bs-white);
    background: var(--bs-secondary);
    border-radius: 50px;
    transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev {
    left: 0 !important;
}

.team-carousel .owl-nav .owl-next {
    right: 0;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
    color: var(--bs-success) !important;
}

.team .team-carousel .team-item .team-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.team .team-carousel .team-item .team-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: 0.5s;
    z-index: 2;
}

.team .team-carousel .team-item .team-img .team-icon {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    display: flex;
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
}

.team .team-carousel .team-item:hover .team-img .team-icon {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.team .team-carousel .team-item .team-content {
    position: relative;
    background: var(--bs-secondary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    transition: 0.5s;
}

.team .team-carousel .team-item .team-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--bs-primary) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    z-index: -1;
}

.team .team-carousel .team-item:hover .team-content a,
.team .team-carousel .team-item:hover .team-content p {
    color: var(--bs-white) !important;
}

.team .team-carousel .team-item:hover .team-content::after {
    height: 100% !important;
}

.team .team-carousel .team-item .team-img img {
    transition: 0.5s;
}

.team .team-carousel .team-item:hover .team-img img {
    transform: scale(1.1);
}
/*** Team End ***/


/*** Vidie Gallery Start ***/
/*** Youtube Video start ***/
.gallery .tab-class {
    text-align: start !important;
}

.gallery .nav-item {
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.gallery .nav-item a span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .nav-item a.active {
    background: var(--bs-primary) !important;
}

.gallery .nav-item a.active span {
    color: var(--bs-white) !important;
}


.video {
    position: relative;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    display: block;
    width: 23px;
    height: 44px;
    border-radius: 50%;
    transition: 0.5s;

}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
    background: var(--bs-white);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    transition: 0.5s;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px;
    height: 50px;
    background: var(--bs-secondary);
    border-radius: 50%;
    transition: all 300ms;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 23px solid var(--bs-primary);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: 5px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}
/*** Youtube Video End ***/

/*** Vidieo Gallery End ***/

/*** Testimonial Start ***/
.testimonial-carousel .owl-stage-outer {
    margin-top: 30px;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: 1px;
    padding: 10px 35px;
    border: 1px solid var(--bs-secondary);
    color: var(--bs-white);
    background: var(--bs-secondary);
    border-radius: 50px;
    transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev {
    left: 0 !important;
}

.testimonial-carousel .owl-nav .owl-next {
    right: 0;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-light) !important;
    color: var(--bs-success) !important;
}
/*** Testimonial End ***/


/*** Contact Start ***/
.contact button.btn.btn-primary.w-100:hover {
    box-shadow: inset 700px 0 0 0 var(--bs-light) !important;
    color: var(--bs-success) !important;
}
/*** Contact End ***/


/*** Footer Start ***/
.footer {
    background: var(--bs-dark);
}

.footer .footer-item .footer-link {
    line-height: 30px;
    color: var(--bs-white);
    transition: 0.5s;
}

.footer .footer-item .footer-link:hover {
    letter-spacing: 1px;
    color: var(--bs-primary) !important;
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important;
}
/*** copyright end ***/

/*** Formulaire d'inscription ***/

#prevBtn, #nextBtn {
    margin-left: 10px; /* Espacement entre les boutons */
    width: 150px; /* Ajuste la largeur des boutons */
}

.step {
    display: none;
}

 .iti {
     width: 100%;
 }

.iti__input {
    width: 100%;
}

.custom-phone-input {
    width: 100%;
    height: calc(2.75em + 0.75rem + 2px); /* ou ajustez selon vos besoins */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    //border: 1px solid #ced4da;
    border-radius: 11px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Barre de progression */
#progressbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;
    counter-reset: step;
}

#progressbar li {
    list-style: none;
    width: 50%;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    color: #7d7d7d;
}

#progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 18px;
    color: #fff;
    background: #7d7d7d;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

#progressbar li::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #7d7d7d;
    position: absolute;
    left: -50%;
    top: 14px;
    z-index: -1;
}

#progressbar li:first-child::after {
    content: none;
}

#progressbar li.active {
    color: #27ae60;
}

#progressbar li.active::before,
#progressbar li.active::after {
    background: #27ae60;
}

.progress-bar {
    background-color: #fd7e14; /* Orange */
}

.form-floating input[type="file"] {
    background-color: #ffffff; /* Change the color as needed */
}

.form-floating label {
    left: 0.75rem;
}

.profile-details {
    text-align: center;
}
.personal-info li .title {
    color: #4f4f4f;
    float: left;
    font-weight: 500;
    margin-right: 30px;
    width: 25%;
}
.personal-info li .text {
    color: #8e8e8e;
    display: block;
    overflow: hidden;

    a{
        color : var(--bs-secondary);
    }
}
.personal-info li {
    margin-bottom: 10px;
}
.personal-info {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.profile-view {
    position: relative;
}
.profile-view .profile-img-wrap {
    height: 120px;
    width: 120px;
}
.profile-view .profile-img {
    width: 120px;
    height: 120px;
}
.profile-view .profile-img .avatar {
    font-size: 24px;
    height: 120px;
    line-height: 120px;
    margin: 0;
    width: 120px;
}
.profile-view .profile-basic {
    margin-left: 140px;
    padding-right: 50px;
}
.profile-view .pro-edit {
    position: absolute;
    right: 0;
    top: 0;
}

.profile-img-wrap {
    height: 120px;
    position: absolute;
    width: 120px;
    background: #fff;
    overflow: hidden;
}
.profile-basic {
    margin-left: 140px;
}
.profile-basic .cal-icon {
    width: 100%;
}
.profile-img-wrap img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.edit-icon {
    background-color: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 24px;
    color: #bbb;
    float: right;
    font-size: 12px;
    line-height: 24px;
    min-height: 26px;
    text-align: center;
    width: 26px;
}
.edit-icon:hover {
    background-color: var(--bs-secondary);
    color: #fff;
}

.staff-msg {
    margin-top: 30px;
}
.experience-box {
    position: relative;
}
.experience-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.experience-list::before {
    background: #ddd;
    bottom: 0;
    content: "";
    left: 8px;
    position: absolute;
    top: 8px;
    width: 2px;
}
.experience-list > li {
    position: relative;
}
.experience-list > li:last-child .experience-content {
    margin-bottom: 0;
}
.experience-user .avatar {
    height: 32px;
    line-height: 32px;
    margin: 0;
    width: 32px;
}
.experience-list > li .experience-user {
    background: #fff;
    height: 10px;
    left: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    width: 10px;
}
.experience-list > li .experience-content {
    background-color: #fff;
    margin: 0 0 20px 40px;
    padding: 0;
    position: relative;
}
.experience-list > li .experience-content .timeline-content {
    color: #9e9e9e;
}
.experience-list > li .experience-content .timeline-content a.name {
    color: #616161;
    font-weight: bold;
}
.experience-list > li .time {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 1.35;
}
.before-circle {
    background-color: #ddd;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.skills > span {
    border: 1px solid #ccc;
    border-radius: 500px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px 12px;
    text-align: center;
}
.profile-info-left {
    border-right: 2px dashed #ccc;
}
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    box-shadow: unset;
    display: block;
    min-height: 44px;
    padding: 6px 6px 0;
}
.bootstrap-tagsinput .badge {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
    padding: 10px 15px;
}
.add-more a {
    color:  var(--bs-secondary);
}
.add-more a:hover {
    color: var(--bs-secondary);;
}
.avatar-box {
    float: left;
}
.pro-overview .personal-info li .title {
    width: 50%;
}
.profile-box {
    min-height: 250px;
}


@media only screen and (min-width: 991px) {
    #toggle_btn {
        color: #999;
        float: left;
        font-size: 26px;
        line-height: 60px;
        padding: 0 10px;
    }
    .mini-sidebar .header-left .logo img {
        height: auto;
        max-height: 30px;
        width: auto;
    }
    .mini-sidebar .header .header-left {
        padding: 0 5px;
        width: 60px;
    }
    .mini-sidebar .sidebar {
        width: 60px;
    }
    .mini-sidebar.expand-menu .sidebar {
        width: 230px;
    }
    .mini-sidebar .menu-title {
        visibility: hidden;
        white-space: nowrap;
    }
    .mini-sidebar.expand-menu .menu-title {
        visibility: visible;
    }
    .mini-sidebar .menu-title a {
        visibility: hidden;
    }
    .mini-sidebar.expand-menu .menu-title a {
        visibility: visible;
    }
    .mini-sidebar .sidebar .noti-dot:before {
        display: none;
    }
    .mini-sidebar .sidebar .noti-dot:after {
        display: none;
    }
    .mini-sidebar.expand-menu .sidebar .noti-dot:before {
        display: block;
    }
    .mini-sidebar.expand-menu .sidebar .noti-dot:after {
        display: block;
    }
    .modal-open.mini-sidebar .sidebar {
        z-index: 1001;
    }
    .mini-sidebar .sidebar .sidebar-menu ul > li > a span {
        display: none;
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }
    .mini-sidebar .sidebar .sidebar-menu ul > li > a span.chat-avatar-sm {
        display: inline-block;
        opacity: 1;
    }
    .mini-sidebar .sidebar .sidebar-menu ul > li > a span.status {
        display: inline-block;
        opacity: 1;
    }
    .mini-sidebar.expand-menu .sidebar .sidebar-menu ul > li > a span {
        display: inline;
        opacity: 1;
    }
    .mini-sidebar .sidebar .sidebar-menu > ul > li > a i {
        font-size: 30px;
        width: 30px;
    }
    .mini-sidebar.expand-menu .sidebar .sidebar-menu > ul > li > a i {
        font-size: 24px;
        width: 20px;
    }
    .mini-sidebar .page-wrapper {
        margin-left: 60px;
    }
}
@media only screen and (min-width: 768px) {
    .modal-md {
        width: 600px;
    }
    .nav-tabs.nav-justified.nav-tabs-top {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs.nav-justified.nav-tabs-top > li > a,
    .nav-tabs.nav-justified.nav-tabs-top > li > a:hover,
    .nav-tabs.nav-justified.nav-tabs-top > li > a:focus {
        border-width: 2px 0 0 0;
    }
    .nav-tabs.nav-tabs-top > li {
        margin-bottom: 0;
    }
    .nav-tabs.nav-tabs-top > li > a,
    .nav-tabs.nav-tabs-top > li > a:hover,
    .nav-tabs.nav-tabs-top > li > a:focus {
        border-width: 2px 0 0 0;
    }
    .nav-tabs.nav-tabs-top > li.open > a,
    .nav-tabs.nav-tabs-top > li > a:hover,
    .nav-tabs.nav-tabs-top > li > a:focus {
        border-top-color: #ddd;
    }
    .nav-tabs.nav-tabs-top > li+li > a {
        margin-left: 1px;
    }
    .nav-tabs.nav-tabs-top > li > a.active,
    .nav-tabs.nav-tabs-top > li > a.active:hover,
    .nav-tabs.nav-tabs-top > li > a.active:focus {
        border-top-color: #f43b48;
    }
    .nav-tabs.nav-tabs-bottom > li {
        margin-bottom: -1px;
    }
    .nav-tabs.nav-tabs-bottom > li > a.active,
    .nav-tabs.nav-tabs-bottom > li > a.active:hover,
    .nav-tabs.nav-tabs-bottom > li > a.active:focus {
        border-bottom-width: 2px;
        border-color: transparent;
        border-bottom-color: #f43b48;
        background-color: transparent;
        transition: none 0s ease 0s;
        -moz-transition: none 0s ease 0s;
        -o-transition: none 0s ease 0s;
        -ms-transition: none 0s ease 0s;
        -webkit-transition: none 0s ease 0s;
    }
    .nav-tabs.nav-tabs-solid {
        background-color: #fafafa;
        border: 0;
    }
    .nav-tabs.nav-tabs-solid > li {
        margin-bottom: 0;
    }
    .nav-tabs.nav-tabs-solid > li > a {
        border-color: transparent;
    }
    .nav-tabs.nav-tabs-solid > li > a:hover,
    .nav-tabs.nav-tabs-solid > li > a:focus {
        background-color: #f5f5f5;
    }
    .nav-tabs.nav-tabs-solid > .open:not(.active) > a {
        background-color: #f5f5f5;
        border-color: transparent;
    }
    .nav-tabs-justified.nav-tabs-top {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs-justified.nav-tabs-top > li > a,
    .nav-tabs-justified.nav-tabs-top > li > a:hover,
    .nav-tabs-justified.nav-tabs-top > li > a:focus {
        border-width: 2px 0 0 0;
    }
}
@media only screen and (max-width: 1199.98px) {
    .page-title-box {
        display: none;
    }
    .file-wrap .file-sidebar {
        left: -331px;
    }
    .file-wrap .file-cont-wrap {
        margin-left: 0;
    }
    .file-wrap.file-sidebar-toggle .file-sidebar {
        left: 0;
    }
    .file-wrap.file-sidebar-toggle .file-cont-wrap {
        margin-left: 0;
    }
    .file-side-close {
        display: inline-block;
    }
}
@media only screen and (max-width: 991.98px) {
    .profile-rightbar {
        display: inline-block !important;
    }
    .profile-info-left {
        border-right: none;
        border-bottom: 2px dashed #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .task-right-sidebar .task-chat-view {
        display: block;
        position: fixed;
        right: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        margin-right: 0;
    }
    .task-chat-view {
        display: none;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        right: 0;
        transform: translateX(0px);
        z-index: 1041;
        width: 300px;
        position: fixed;
        transition: all 0.4s ease 0s;
        margin-right: -300px;
        display: table-cell;
        top: 0;
        padding-bottom: 60px;
        margin-top: 60px;
    }
    .chat-profile-view {
        display: none;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        right: 0;
        transform: translateX(0px);
        z-index: 1041;
        width: 300px;
        position: fixed;
        transition: all 0.4s ease 0s;
        margin-right: -300px;
        display: table-cell;
        top: 0;
        padding-bottom: 60px;
        margin-top: 60px;
    }
    .message-view.task-view {
        width: 100%;
    }
    .float-left.ticket-view-details {
        width: 90%;
    }
    .chat-main-row {
        left: 0;
    }
    .header .header-left {
        position: absolute;
        width: 100%;
    }
    .mobile_btn {
        display: block;
    }
    .page-title-box {
        display: none;
    }
    .sidebar {
        margin-left: -225px;
        width: 225px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        z-index: 1041;
    }
    .page-wrapper {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    a.mobile_btn {
        color: #fff;
        font-size: 24px;
        height: 60px;
        left: 0;
        line-height: 60px;
        padding: 0 20px;
        position: absolute;
        top: 0;
        width: 60px;
        z-index: 10;
    }
    #toggle_btn {
        display: none;
    }
    .page-wrapper {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .responsive-search {
        color: #fff;
        display: inline-block;
    }
    .top-nav-search form {
        display: none;
    }
    .top-nav-search .form-control {
        background-color: #fff;
        border-color: #e3e3e3;
        color: #333;
    }
    .top-nav-search .btn {
        color: #999;
    }
    .top-nav-search .form-control::-webkit-input-placeholder {
        color: #999;
    }
    .top-nav-search .form-control::-moz-placeholder {
        color: #999;
    }
    .top-nav-search .form-control:-ms-input-placeholder {
        color: #999;
    }
    .top-nav-search .form-control::-ms-input-placeholder {
        color: #999;
    }
    .top-nav-search .form-control::placeholder {
        color: #999;
    }
    .header .has-arrow .dropdown-toggle > span:nth-child(2) {
        display: none;
    }
    .header .has-arrow .dropdown-toggle::after {
        display: none;
    }
}
@media only screen and (max-width: 767.98px) {
    body {
        font-size: 0.875rem;
    }
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 1.75rem;
    }
    h3, .h3 {
        font-size: 1.375rem;
    }
    h4, .h4 {
        font-size: 1rem;
    }
    h5, .h5 {
        font-size: 0.9375rem;
    }
    h6, .h6 {
        font-size: 0.75rem;
    }
    .page-title, .dash-widget-info > h3, .account-title {
        font-size: 1.5rem;
    }
    .dash-card-content p, .stats-info h4, .account-box .account-btn, .job-title {
        font-size: 1.25rem;
    }
    .card-title, .dash-stats-list h4, .custom-modal .modal-title, .file-wrap .file-cont-wrap .file-cont-inner .file-cont-header > span, .faq-card .card .card-header h4 > a, .lead {
        font-size: 1.125rem;
    }
    .btn, .welcome-det p, .kanban-list > .kanban-header > .status-title, .account-box label, .job-info .job-dept, .form-focus .focus-label {
        font-size: 0.9375rem;
    }
    .onoffswitch-inner::before, .onoffswitch-inner::after, .form-control, .user-menu.nav > li > a, .page-header .breadcrumb {
        font-size: 0.875rem;
    }
    .btn-group-sm > .btn, .btn-sm {
        font-size: 0.8125rem;
    }
    .comp-section .section-title, .voice-call-avatar .username, .page-menu .nav-tabs > li > a, .btn-group-lg > .btn, .btn-lg, .account-subtitle, .job-list h3.job-list-title {
        font-size: 1rem;
    }
    .message-content {
        font-size: 0.75rem;
    }
    .user-menu.nav > li > a {
        padding: 0 10px;
    }
    .top-nav-search form {
        width: 210px;
    }
    .profile-info-left {
        border-right: none;
        border-bottom: 2px dashed #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .navbar-nav .open .dropdown-menu {
        float: left;
        position: absolute;
    }
    .notifications {
        right: -48px;
    }
    .notifications::before,
    .notifications::after {
        right: 60px;
    }
    .header {
        z-index: 1040;
    }
    .task-wrapper #task-list li .task-container .task-label {
        padding-right: 50px;
        word-break: unset;
    }
    .task-btn-right {
        position: absolute;
        right: 8px;
    }
    .task-wrapper #task-list li .task-container {
        padding: 8px 10px;
    }
    .task-action-btn.task-check {
        width: 36px;
    }
    .roles-menu {
        margin-bottom: 20px;
    }
    .contacts-list {
        padding: 0 70px 0 15px;
    }
    .left-action {
        text-align: center;
        margin-bottom: 15px;
    }
    .right-action {
        text-align: center;
    }
    .top-action-left .float-left {
        float: none !important;
    }
    .top-action-left .btn-group {
        margin-bottom: 15px;
    }
    .top-action-right {
        text-align: center;
    }
    .top-action-right a.btn.btn-white {
        margin-bottom: 15px;
    }
    .mail-sent-time {
        float: left;
        margin-top: 10px;
        width: 100%;
    }
    .nav-tabs.nav-justified {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs.nav-justified > li > a.active,
    .nav-tabs.nav-justified > li > a.active:hover,
    .nav-tabs.nav-justified > li > a.active:focus {
        border-color: transparent transparent transparent #f43b48;
        border-left-width: 2px;
    }
    .nav-tabs {
        border-bottom: 0;
        position: relative;
        background-color: #fff;
        padding: 5px 0;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .nav-tabs .nav-item {
        margin-bottom: 0;
    }
    .nav-tabs > li > a {
        border-width: 2px;
        border-left-color: transparent;
    }
    .nav-tabs .nav-link {
        border-width: 2px;
    }
    .nav-tabs> li > a:hover,
    .nav-tabs>li>a:focus {
        background-color: #fafafa;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active,
    .nav-tabs> li > a.active,
    .nav-tabs> li > a.active:hover,
    .nav-tabs> li > a.active:focus {
        background-color: #f5f5f5;
        border-color: transparent transparent transparent #f43b48;
        border-left-width: 2px;
    }
    .nav-tabs > li.open:not(.active) > a,
    .nav-tabs > li.open:not(.active) > a:hover,
    .nav-tabs > li.open:not(.active) > a:focus {
        background-color: #fafafa;
    }
    .nav-tabs.nav-tabs-solid {
        padding: 5px;
    }
    .nav-tabs.nav-tabs-solid.nav-tabs-rounded {
        border-radius: 5px;
    }
    .nav-tabs.nav-tabs-solid > li > a {
        border-left-width: 0!important;
    }
    .nav-tabs-justified {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs-justified > li > a.active,
    .nav-tabs-justified > li > a.active:hover,
    .nav-tabs-justified > li > a.active:focus {
        border-width: 0 0 0 2px;
        border-left-color: #f43b48;
    }
    .my-video ul li {
        width: 80px;
    }
    .voice-call-avatar .call-avatar {
        width: 120px;
        height: 120px;
    }
    .product-info {
        margin: 20px 0 30px;
    }
    .profile-bg {
        height: 280px;
    }
    .flag-nav > a > span {
        display: none;
    }
    .equal-height-cards > div > div.card {
        height: unset;
    }
}
@media only screen and (max-width: 575.98px) {
    .contact-cat {
        padding-right: 70px;
    }
    .user-menu {
        display: none;
    }
    .mobile-user-menu {
        display: block;
    }
    .search-box {
        display: none;
    }
    .filter-row {
        margin-bottom: 15px;
    }
    .page-wrapper > .content {
        padding: 15px;
    }
    .profile-view .profile-basic {
        margin-left: 0;
        padding-right: 0;
    }
    .profile-img-wrap {
        position: relative;
        margin: 0 auto;
    }
    .profile-info-left {
        text-align: center;
    }
    .profile-basic {
        margin-left: 0;
        margin-top: 15px;
    }
    .page-title {
        font-size: 18px;
    }
    .fc-toolbar .fc-right {
        display: inline-block;
        float: none;
        margin: 10px auto 0;
        width: 200px;
        clear: both;
    }
    .fc-toolbar .fc-left {
        float: none;
        margin: 0 auto;
        width: 200px;
    }
    .upload-text {
        font-size: 18px;
    }
    .call-duration {
        display: block;
        margin-top: 0;
        margin-bottom: 10px;
        position: inherit;
    }
    .end-call {
        margin-top: 10px;
        position: inherit;
    }
    .chat-panel .chats {
        padding: 15px 0;
    }
    .chat-right .chat-content {
        max-width: 90%;
    }
    .chat-right .chat-body {
        padding-left: 0;
        padding-right: 0;
    }
    .chat-left .chat-content {
        max-width: 90%;
    }
    .chat-left .chat-body {
        padding-left: 0;
        padding-right: 0;
    }
    .chat-avatar .avatar {
        height: 20px;
        line-height: 20px;
        width: 20px;
    }
    .account-box {
        width: 100%;
        margin-bottom: 20px;
    }
    .float-left.ticket-view-details {
        width: 80%;
    }
    .custom-menu > li > a {
        margin-left: 10px;
    }
    .contact-alphapets {
        top: 113px;
    }
    .account-page .main-wrapper {
        flex-direction: column;
    }
    .otp-input {
        font-size: 18px;
        height: 50px;
        margin-right: 10px;
        width: 52px;
    }
    .account-wrapper {
        padding: 15px;
    }
    .leave-right {
        flex: 0 0 auto;
    }
    .pagination-lg .page-link {
        font-size: 1.2rem;
        padding: 0.5rem 0.85rem;
    }
    .call-box .call-avatar {
        height: 100px;
        max-width: 100px;
        min-width: 100px;
    }
    .call-box .call-wrapper .call-items .call-item {
        padding: 10px;
    }
    .call-box .call-wrapper .call-items .call-item.call-end {
        margin: 30px 5px 0;
        padding: 10px;
    }
    .submit-section .submit-btn {
        margin: 0 0 10px !important;
    }
    .leave-row {
        display: block;
    }
    .leave-box .subtitle {
        display: none;
    }
    .leave-right {
        margin-top: 20px;
    }
    .leave-inline-form {
        display: block;
    }
    .page-header .breadcrumb {
        display: none;
    }
    .add-btn {
        font-size: 14px;
        min-width: inherit;
    }
}


.profile-img-wrap {
    text-align: center;
}

.profile-img-wrap h5, .profile-img-wrap p {
    margin-top: 10px; /* Ajustement de l'espace entre l'image et le texte */
}



